@model List<PACO.Models.ViewModels.TiendaViewModel>
@{
    ViewBag.Title = "Tienda";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<div class="row">
    <div class="col-md-12">

        <table class="table table-bordered table-striped">
            <thead>
                <tr>
                    <td>ID</td>
                    <td>Sucursal</td>
                    <td>Dirección</td>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.id</td>
                        <td>@item.sucursal</td>
                        <td>@item.direccion</td>
                       
                        <td>
                            <a class="btn btn-primary" href="~/Tienda/Editar/@item.id">Editar</a>
                            <a class="btn btn-danger" href="~/Tienda/Eliminar/@item.id">Eliminar</a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
        <div class="row flex-xxl-grow-1">
            <a href="~/Tienda/Nuevo" class="btn btn-primary">NUEVO REGISTRO</a>
        </div>
    </div>


</div>
