



<div class="jumbotron">

    <div class="row">
        <div class="col">@Html.ActionLink("Clientes", "Index", "Cliente/Index", new { @class = "elements" }, null)</div>
        <div class="col">@Html.ActionLink("Articulos", "Index", "Articulo/Index", new { @class = "elements" }, null)</div>
        <div class="col">@Html.ActionLink("Tienda", "Index", "Tienda/Index", new { @class = "elements" }, null)</div>
        <div class="col">@Html.ActionLink("ComprarArticulo", "Index", "ComprarArticulo/Index", new { @class = "elements" }, null)</div>
    </div>
</div>

